/*header*/

.app {
	overflow: hidden;
}
.header {
	height: var(--header-height);
	background-image: linear-gradient(0, #fe6433, #f53e2d);
}
.header__navbar-list {
	list-style: none;
	padding-left: 0;
	margin-top: 4px 0 0 0;
}
.header__navbar-item {
	margin: 0 8px;
	position: relative;
}
.header__navbar-user {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.header__navbar-user-img {
	width: 2.2rem;
	height: 2.2rem;
	border-radius: 50%;
	position: relative;
	top: 5px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}
.header__navbar-user-name {
	margin-left: 8px;
	font-size: 1.4rem;
}
.header__navbar-user-menu::before {
	content: "";
	border-width: 20px 26px;
	border-style: solid;
	border-color: transparent transparent var(--white-color) transparent;
	position: absolute;
	right: 10px;
	top: -27px;
	z-index: -1;
}
.header__navbar-user-menu::after {
	content: "";
	width: 110px;
	height: 10px;
	position: absolute;
	top: -7px;
	right: 0;
}
.header__navbar-user-menu {
	position: absolute;
	padding-left: 0;
	top: 100%;
	right: 0;
	width: 160px;
	border-radius: 2px;
	background-color: var(--white-color);
	z-index: 1;
	box-shadow: 0 0 3px #ccc;
	display: none;
}
.header__navbar-user:hover .header__navbar-user-menu {
	display: block;
}
.header__navbar-user-item {
	list-style: none;
}
.header__navbar-user-item a/*thẻ a không có display*/ {
	text-decoration: none;
	color: var(--text-color);
	font-size: 1.4rem;
	font-weight: 300;
	display: block;
	padding: 4px 16px;
}
.header__navbar-user-item a:hover {
	background-color: #fafafa;
}
.header__navbar-user-item:first-child /*xử lý khi hover back-gr thừa ra của boder-radius*/ {
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
}
.header__navbar-user-item:last-child {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}
.header__navbar-item,
.header__navbar-item-link {
	display: inline-block;
	font-size: 1.4rem;
	color: var(--white-color);
	text-decoration: none;
	font-weight: 200;
}
.header__navbar {
	display: flex;
	justify-content: space-between;
}
.header__navbar-item-link--strong {
	font-weight: bold;
}
.header__navbar-item--sparate::after {
	content: "";
	display: block;
	position: absolute;
	height: 16px;
	border-left: 1px solid #fb9086;
	right: -8px;
	top: 50%;
	transform: translateY(-50%);
}
.hv__QR--code:hover .header__QR {
	display: block;
	animation: fadeIn ease-in 0.8s;
	z-index: 1;
}
.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon:hover {
	color: rgba(255, 255, 255, 0.6);
	cursor: pointer;
}
.header__navbar-item-icon-link {
	color: var(--white-color);
	text-decoration: none;
}
.header__navbar-icon {
	font-size: 1.8rem;
	margin-left: 5px;
}
.header__navbar--no-poiter {
	cursor: text;
	color: var(--white-color);
}
/*Header QR code*/
.header__QR {
	width: 186px;
	background-color: var(--white-color);
	position: absolute;
	left: 0;
	top: 120%;
	padding: 8px;
	border-radius: 10px;
	display: none;
}
.header__QR-img {
	width: 100%;
}
.header__QR--app {
	display: flex;
	justify-content: space-between;
}
.header__QR-dowload-img {
	height: 15px;
}
.header__QR-link:nth-child(1) {
	margin-left: 15px;
}
.header__QR-link:nth-child(2) {
	margin-right: 11px;
}
/*header notification*/
.header__notifi {
	position: absolute;
	width: 404px;
	background-color: var(--white-color);
	right: 0;
	border: 1px solid #d3d3d3;
	border-radius: 3px;
	cursor: default;
	transform-origin: calc(100% - 20px) top;
	animation: headerNotifiGrowth ease-in 0.2s;
	margin-top: 7px;
	display: none;
	z-index: 2;
}
.header__notifi::before {
	content: "";
	border-width: 20px 26px;
	border-style: solid;
	border-color: transparent transparent var(--white-color) transparent;
	position: absolute;
	right: 10px;
	top: -30px;
}
.header__notifi::after {
	content: "";
	position: absolute;
	width: 80px;
	height: 25px;
	top: -20px;
	right: 10px;
}
@keyframes headerNotifiGrowth {
	from {
		opacity: 0;
		transform: scale(0); /*scale độ phóng to thu nhỏ*/
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
.header__navbar-item-hover:hover .header__notifi {
	display: block;
}
.header__notifi-header {
	height: 40px;
	background-color: var(--white-color);
}
.header__notifi-header h3 {
	color: #999;
	margin: 0 0 0 12px;
	font-weight: 450;
	font-size: 1.4rem;
	line-height: 40px;
	user-select: none; /*Không coppy*/
}
.header__notifi-list {
	padding: 0;
}
.header__notifi-items {
	display: flex;
	list-style: none;
}
.header__notifi-items--viewed {
	background-color: rgba(238, 75, 43, 0.08);
}
.header__notifi-link {
	width: 100%;
	display: flex;
	padding: 12px;
	text-decoration: none;
}
.header__notifi-img {
	width: 50px;
	object-fit: contain; /*căn giữa*/
}
.header__notifi-infor {
	margin-left: 12px;
}
.header__notifi-name {
	display: block;
	font-size: 1.4rem;
	color: var(--text-color);
	font-weight: 400px;
	line-height: 1.8rem;

	user-select: none; /*Không cho coppy*/
}
.header__notifi-description {
	display: block;
	font-size: 1.2rem;
	line-height: 1.6rem;
	color: #756f6e;
}
.header__notifi-items:hover {
	background-color: #f7f7f7;
}
.header__notifi--footer {
	text-decoration: none;
	text-align: center;
	padding: 8px 30px;
	font-weight: 400;
}
.header__notifi--footer--btn {
	color: var(--text-color);
	text-decoration: none;
}
/*Header search*/
.header-with-search {
	height: var(--header-with-search-height);
	display: flex;
	align-items: center; /*căn giữa chiều dọc*/
	padding: 0 0 0 8px;
}

.mobile-search-checkbox {
	padding-left: 0 12px;
}
.header__mobile-search {
	display: none;
}
.header__Menu-mobile {
	display: none;
}

.header__Menu-mobile-icon {
	font-size: 2rem;
	color: var(--white-color);
}
.mobile-search-checkbox-icon {
	font-size: 2.5rem;
	color: var(--white-color);
}

.header__logo {
	width: 200px;
}

.header__search-checkbox:checked ~ .header__search {
	display: flex;
}

.header__logo-img {
	width: 150px;
	color: var(--white-color);
}
.header__search {
	background-color: var(--white-color);
	height: 40px;
	border-radius: 2px;
	flex: 1;
	display: flex;
	align-items: center;
}
/*------cart-----*/
.header__cart {
	width: 150px;
	text-align: center;
}
.header__cart--wrap {
	position: relative;
	display: inline-block;
	padding: 0 12px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}
.header__cart--wrap:hover .header__cart-list {
	display: inline-block;
	cursor: default;
	animation: fadeIn ease-in 0.8s;
	z-index: 1;
}
.header__cart-icon {
	font-size: 2.4rem;
	color: var(--white-color);
}
.header__cart-list {
	position: absolute;
	top: calc(100% + 8px);
	right: 0px;
	background-color: var(--white-color);
	width: 400px;
	border-radius: 2px;
	box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
	display: none;
	cursor: default;
}
.header__cart-heading {
	text-align: left;
	margin: 8px 0px 8px 12px;
	font-size: 1.4rem;
	color: #999;
	font-weight: 400;
}
.header__cart-list-item {
	padding: 0;
	list-style: none;
	max-height: 56vh;
	overflow-y: auto; /*nêu các item vượt quá height thì sẽ xuất hiện thanh scroll*/
}
.header__cart-item {
	display: flex;
	align-items: center;
}
.header__cart-item:hover {
	background-color: #f8f8f8;
}
.header__cart-img {
	width: 42px;
	height: 42px;
	margin: 12px;
	border: 1px solid var(--border-color);
}
.header__cart-item-infor {
	width: 100%;
	margin-right: 12px;
}

.header__cart-item-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__cart-item-name {
	font-size: 1.4rem;
	font-weight: 400;
	color: var(--text-color);
	margin-bottom: 0;
	margin-top: 0;
}

.header__cart-item-price {
	font-size: 1.4rem;
	font-weight: 400;
	color: var(--primary-color);
}

.header__cart-item-multipli {
	color: #757575;
	font-size: 0.9rem;
	margin: 0 4px;
}

.header__cart-item-qnt {
	color: #757575;
	font-size: 1.2rem;
	font-weight: 500;
}

.header__cart-item-body {
	display: flex;
	justify-content: space-between;
}

.header__cart-item-description {
	color: #757575;
	font-size: 1.3rem;
	font-weight: 300;
}

.header__cart-item-remove {
	color: var(--text-color);
	font-size: 1.4rem;
	font-weight: 500;
}
.header__cart-item-remove:hover {
	color: var(--primary-color);
	cursor: pointer;
}
.header__cart-view-cart {
	float: right;
	margin: 12px 12px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header__cart-view-cart:hover {
	background-color: #f05d41;
}
.header__cart-list::after {
	content: "";
	position: absolute;
	right: 3px;
	top: -25px;
	border-width: 16px 20px;
	border-style: solid;
	border-color: transparent transparent var(--white-color) transparent;
	cursor: pointer;
}
.header__cart-list--no-cart {
	padding: 24px 0;
}
.header__cart-list--no-cart .header__cart-list-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.header__cart-list-no-cart-msg {
	font-size: 1.4rem;
	margin-top: 14px;
	color: var(--text-color);
	display: none;
}
.header__cart-notice {
	position: absolute;
	padding: 1px 7px;
	background-color: var(--white-color);
	color: var(--primary-color);
	font-size: 1.4rem;
	line-height: 1.4rem;
	border-radius: 10px;
	border: 2px solid #ee4d2d;
	top: -10px;
	right: -7px;
}
.header__cart-list-no-cart-img {
	width: 55%;
	display: none;
}
.header__search-input-wrap {
	flex: 1;
	height: 100%;
	position: relative;
}
.header__search-input {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	font-size: 1.4rem;
	color: var(--text-color);
	padding: 0 16px;
	border-radius: 3px;
}
.header__search-select {
	border-left: 1px solid var(--border-color);
	padding: 0 16px;
	position: relative;
	cursor: pointer;
	z-index: 1;
}
.header__search-select-label {
	color: var(--text-color);
	font-size: 1.3rem;
}
.header__search-select-icons {
	color: var(--text-color);
	font-size: 1.2rem;
	margin-left: 6px;
}
.header__search-btnSearch {
	background-color: var(--primary-color);
	border: none;
	height: 34px;
	border-radius: 3px;
	margin-right: 3px;
	width: 60px;
	outline: none;
}
.header__search-btnSearch:hover {
	background-color: #fb6445;
	cursor: pointer;
}
.header__search-searchIcon {
	font-size: 1.6rem;
	color: var(--white-color);
}
.header__search-select:hover .header__search-option {
	display: block;
}
.header__search-option::after {
	content: "";
	display: block;
	width: 100%;
	height: 20px;
	top: -10px;
	position: absolute;
}
.header__search-option {
	position: absolute;
	right: 0;
	top: 100%;
	width: 130px;
	box-shadow: 0 0 3px #ccc;
	padding-left: 0;
	display: none;
}
.header__search-option-items {
	background-color: var(--white-color);
	border-radius: 3px;
	padding: 8px 8px;
	list-style: none;
}
.header__search-option-items span {
	font-size: 1.4rem;
	color: var(--text-color);
	margin-left: 10px;
}
.header__search-option-items i {
	font-size: 1.2rem;
	color: var(--primary-color);
	margin: 0 0 0 12px;
	display: none;
}
.header__search-option-items:hover {
	background-color: #fafafa;
	cursor: pointer;
}
.header__search-option-items-active i {
	display: inline-block;
}
/*search history*/
.header__search-history {
	position: absolute;
	top: 105%;
	left: 0;
	width: calc(100% + 2px);
	background-color: var(--white-color);
	border-radius: 2px;
	box-shadow: 0 1px 5px rgb(172, 172, 172);
	display: none;
	z-index: 1;
}
.header__search-history-heading {
	color: var(--text-color);
	margin: 6px 12px;
	font-size: 1.4rem;
	font-weight: 400;
}
.header__search-history-list {
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
}
.header__search-history-item {
	width: 100%;
	height: 38px;
	display: flex;
	align-items: center;
	padding: 0 12px;
}
.header__search-history-item:hover {
	background-color: #fafafa;
}
.header__search-history-item:last-child {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
.header__search-history-item a {
	display: block; /*/kế thừa width: của thg cha*/
	text-decoration: none;
	color: var(--text-color);
	font-size: 1.3rem;
	font-weight: 400;
}
.header__search-input:focus ~ .header__search-history {
	display: block;
}
/* Header sort bar */
.header__short-bar {
	position: fixed;
	top: var(--header-height);
	left: 0;
	right: 0;
	height: var(--header-sort-bar-height);
	background-color: var(--white-color);
	list-style: none;
	margin: 0;
	padding-left: 0;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	display: none;
}
.header__short-item {
	flex: 1;
}
.header__short-link {
	text-decoration: none;
	color: var(--text-color);
	display: block;
	font-size: 1.4rem;
	height: 100%;
	line-height: var(--header-sort-bar-height);
	text-align: center;
	position: relative;
}
.header__short-link::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	height: 60%;
	border-left: 1px solid #e5e5e5;
	transform: translateY(-50%);
}
.header__short-item--active .header__short-link {
	color: var(--primary-color);
}
.header__short-item:first-child .header__short-link::before {
	display: none;
}
/*End Header*/

/* Nav Mobile Tablet */

.nav__MobileTablet {
	display: none;
}

/*authen Modal*/
.auth-form {
	width: 500px;
	border-radius: 5px;
	overflow: hidden; /*Khi child vướt quá kích thước của parent thì sẽ ẩn đi*/
}
.auth-form__container {
	padding: 0 32px;
}
.auth-form__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.auth-form__heading {
	font-size: 2.2rem;
	font-weight: 400;
	color: var(--text-color);
}
.auth-form__switch-btn {
	font-size: 1.6rem;
	color: var(--primary-color);
	font-weight: 400;
	cursor: pointer;
}
.auth-form__form {
}
.auth-form__input {
	width: 100%;
	height: 40px;
	margin-top: 16px;
	padding: 0 12px;
	font-size: 1.4rem;
	border: 1px solid var(--border-color);
	border-radius: 2px;
	outline: none;
}
.auth-form__input:focus {
	border-color: #888;
}
.auth-form__aside {
	margin-top: 18px;
	font-size: 1.2rem;
}
.auth-form__policy-text {
	line-height: 1.8rem;
	text-align: center;
	padding: 0 12px;
}
.auth-form__text-link {
	text-decoration: none;
	color: var(--primary-color);
}
.auth_form__control {
	margin-top: 80px;
	display: flex;
	justify-content: flex-end;
}
.auth_form__control-back {
	margin-right: 8px;
}
.btn--with-icon {
	text-decoration: none;
	color: var(--text-color);
	font-size: 1.2rem;
}
.auth-form__socials {
	background-color: #f5f5f5;
	padding: 16px 36px;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	overflow: hidden; /*Khi child vướt quá kích thước của parent thì sẽ ẩn đi*/
}
.auth-form__socials-icon {
	font-size: 1.8rem;
}
.auth-form__socials--facebook {
	background-color: #3a5a98;
	display: flex;
	align-items: center;
	color: var(--white-color);
	padding: 0 10px;
	border: 1px solid var(--border-color);
	border-radius: 2px;
}
.auth-form__socials-span {
	margin-left: 30px;
}
.auth-form__socials--google {
	background-color: var(--white-color);
	display: flex;
	align-items: center;
	padding: 0 10px;
	color: #666;
}
/*----------register----------*/
.auth-form__help {
	display: flex;
	justify-content: flex-end;
}
.auth-form__help-link {
	text-decoration: none;
	font-size: 1.4rem;
	color: #939393;
}
.auth-form__help-sparate {
	border-left: 1px solid #eaeaea;
	margin: 1px 16px 0;
	height: 22px;
}
.auth-form__forgot {
	color: var(--primary-color);
}
/*End authen Modal*/

/*App container*/

.app__container {
	background-color: #f5f5f5;
}
.category {
	background-color: var(--white-color);
	border-radius: 2px;
}
.category__heading {
	font-size: 1.7rem;
	color: var(--text-color);
	padding: 12px 16px;
	border-bottom: 1px solid var(--border-color);
	margin-top: 0;
}
.category__heading-icon {
	font-size: 1.4rem;
	margin-right: 4px;
	position: relative;
	top: -1px;
}
.category-list {
	padding-left: 0;
	list-style: none;
}
.ap__content {
	padding-top: 36px;
}
.category-item--active .category-item__link {
	color: var(--primary-color);
}
.category-item--active .category-item__link::before {
	content: "";
	position: absolute;
	border: 4px solid;
	border-color: transparent transparent transparent var(--primary-color);
	top: 50%;
	left: 8px;
	transform: translateY(calc(-50% - 0px));
}
.category-item__link {
	display: block;
	text-decoration: none;
	color: var(--text-color);
	font-size: 1.4rem;
	padding: 8px 16px;
	/*---------tạo chuyển động------------------------------------------------------------*/
	position: relative;
	right: 0;
	transition: right linear 0.2s;
}
.category-item__link:hover {
	right: -6px;
	color: var(--primary-color);
}

/* Mobile Categoty */
.mobile-category {
	display: none;
}
.mobile-category__list {
	display: flex;
	list-style: none;
	padding-left: 0;
	max-width: 100%;
	overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar {
	/* ẩn scroll bar */
	display: none;
}

.mobile-category__item {
	flex-shrink: 0;
	margin-right: 10px;
}
.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
	background-color: #87afd8;
}
.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
	background-color: #76c9bd;
}
.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link {
	background-color: #88cf81;
}

.mobile-category__link {
	--line-height: 2rem;
	text-decoration: none;
	color: var(--white-color);
	font-size: 1.4rem;
	line-height: var(--line-height);
	height: calc(var(--line-height) * 2);
	overflow: hidden;
	text-align: center;
	width: 110px;
	display: block;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	border-radius: 4px;
	font-weight: 300;
	padding: 0 6px;
}

/*Home sort filter*/
.home-filter {
	background-color: rgba(0, 0, 0, 0.04);
	display: flex;
	align-items: center;
	padding: 12px 22px;
	border-radius: 2px;
	position: relative;
}
.home-filter__page {
	display: flex;
	align-items: center;
}
.home-filter__label {
	color: #555;
	font-size: 1.4rem;
	margin-right: 16px;
}
.home-filter__btn {
	margin-right: 12px;
	min-width: 90px;
}

.select-input__item {
	list-style: none;
}
.home-filter__page {
	margin-left: auto;
}
.home-filter__page-num {
	font-size: 1.4rem;
	color: var(--text-color);
	margin-right: 22px;
}
.home-filter__page-current {
	color: var(--primary-color);
}
.home-filter__page-control {
	border-radius: 2px;
	overflow: hidden;
	display: flex;
	width: 72px;
	height: 36px;
}
.home-filter__page-btn {
	flex: 1;
	background-color: var(--white-color);
	display: flex;
	text-decoration: none;
}
.home-filter__page-btn:first-child {
	border-right: 1px solid #eee;
}
.home-filter__page-icon {
	margin: auto;
	color: #555;
}
.home-filter__page-btn--disable {
	background-color: #f9f9f9;
}
.home-filter__page-btn--disable .home-filter__page-icon {
	color: #ccc;
	cursor: default;
}
/*product item*/
.home-product-item {
	background-color: var(--white-color);
	margin-top: 10px;
	position: relative;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	transition: transform linear 0.1s;
}
.home-product-item:hover {
	transform: translateY(-1px);
}
.home-product-item__img {
	padding-top: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.home-product-item__name {
	font-size: 1.4rem;
	font-weight: 400;
	color: var(--text-color);
	line-height: 1.8rem;
	height: 3.6rem;
	overflow: hidden;
	margin: 10px 10px 6px;
	/* giới hạn chữ hiển thị .... */
	display: block;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
}
.home-product-item__price {
	display: flex;
	margin-left: 10px;
	align-items: baseline;
	/* căn các phần tử ngang hàng nhau theo baseline: chân của chữ */
	flex-wrap: wrap; /*kích thước con vượt quá sẽ tự động xuống dòng*/
}
.home-product-item__price-old {
	font-size: 1.4rem;
	color: #666;
	text-decoration: line-through;
}
.home-product-item__price-current {
	font-size: 1.6rem;
	color: var(--primary-color);
	margin-left: 6px;
}
.home-product-item__action {
	display: flex;
	justify-content: space-between;
	margin: 6px 10px 0;
}
.home-product-item__like {
	font-size: 1.4rem;
}
.home-product-item__like-icon-fill {
	display: none;
	color: #f63d30;
}
.home-product-item__like--liked .home-product-item__like-icon-fill {
	display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-empty {
	display: none;
}
.home-product-item__rating {
	font-size: 1rem;
	color: #d5d5d5;
	transform: scale(0.9);
	transform-origin: right;
	margin: -1px 0 0 auto;
}
.home-product-item-gold {
	color: var(--star-gold-color);
}
.home-product-item__sold {
	font-size: 1.4rem;
	color: var(--text-color);
	margin-left: 6px;
}
.home-product-item__origin {
	display: flex;
	justify-content: space-between;
	margin: 3px 0 0 10px;
	color: #595959;
	font-size: 1.2rem;
	font-weight: 300;
}
.home-product-item__brand {
}
.home-product-item__origin-name {
}
.home-product-item__favourite {
	position: absolute;
	top: 10px;
	left: -4px;
	background-color: var(--primary-color);
	font-size: 1.2rem;
	line-height: 1.6rem;
	padding-right: 4px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	color: var(--primary-color);
	background-color: currentColor;
}
.home-product-item__favourite span {
	color: var(--white-color);
}
.home-product-item__favourite::after {
	/*--------------------------------------------------------*/
	content: "";
	position: absolute;
	left: 0px;
	bottom: -3px;
	border-top: 3px solid var(--primary-color);
	border-left: 3px solid transparent;
	filter: brightness(60%);
}
.home-product-item__favourite i {
	font-size: 0.9rem;
	margin: 0 2px 0 5px;
	color: var(--white-color);
}
.home-product-item__sale-off {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 36px;
	background-color: rgba(255, 216, 64, 0.94);
	text-align: center;
}
.home-product-item__sale-off-percent {
	color: #ee4d2d;
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 1.2rem;
	position: relative;
	top: -1px;
}
.home-product-item__sale-off-label {
	font-size: 1.4rem;
	line-height: 1rem;
	color: var(--white-color);
	position: relative;
	top: -7px;
	font-weight: 500;
}
.home-product-item__sale-off::after {
	/*-------------------------------------------------------------------*/
	content: "";
	position: absolute;
	left: 0;
	bottom: -4px;
	border-width: 0 20px 4px;
	border-style: solid;
	border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);
}
/*pagination*/
.home-product__pagination {
	margin: 50px;
	padding-left: 0;
}
/*End app container*/
/*Footer*/
.footer {
	padding-top: 16px;
	border-top: 4px solid var(--primary-color);
}
.footer__heading {
	text-transform: uppercase;
	color: var(--text-color);
	font-size: 1.4rem;
}
.footer__list {
	padding-left: 0;
	list-style: none;
}
.footer-item__link {
	text-decoration: none;
	font-size: 1.2rem;
	color: #737373;
	padding: 2px 0px;
	display: block;
	display: flex;
	align-items: center;
	margin-top: -1px;
}
.footer-item__link:hover {
	color: var(--primary-color);
}
.footer-item__icon {
	font-size: 1.6rem;
	margin-right: 8px;
}
.footer__dowload {
	display: flex;
}
.footer__dowload-pr {
	width: 80px;
	height: 80px;
	border: 1px solid var(--border-color);
}
.footer__dowload-apps {
	margin-left: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.footer__dowload-app-img {
	height: 16px;
}
.footer__dowload-apps-link {
	text-decoration: none;
	color: transparent;
}
/*footer bottom*/
.footer__bottom {
	background-color: #f5f5f5;
}
.footer__nav {
}
.footer__nav-list {
	padding-left: 0;
	display: flex;
	justify-content: center;
}
.footer__nav-list-item {
	list-style: none;
	position: relative;
	border-right: 0.5px solid rgba(0, 0, 0, 0.3);
	margin: 45px 0 95px 0;
	padding: 0 35px;
	line-height: 1.6rem;
	display: flex;
	justify-content: center;
}
.footer__nav-list-link {
	text-decoration: none;
	text-transform: uppercase;
	color: #707070;
	font-size: 1.2rem;
	display: block;
	font-weight: 300;
}
.footer__nav-list-item:last-child {
	border: none;
}
.footer__text {
	text-align: center;
	padding-bottom: 53px;
	font-size: 1.4rem;
	color: var(--text-color);
	font-weight: 300;
}
/*End footer*/
